{erl_opts, [debug_info]}.
{deps, [
    {shotgun, "0.5.0"},
    {jsx, "3.1.0"},
    {verl, "1.0.1"},
    {lru, "2.4.0"},
    {backoff, "1.1.6"},
    {uuid, "2.0.2", {pkg, uuid_erl}},
    {eredis, "1.4.0"},
    {yamerl, "0.8.1"},
    {certifi, "2.8.0"},
    {cowboy, "2.8.0"},
    ldclient
]}.

{shell, [
    {apps, [ldclient, ts_app]}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false}
    ,{include_erts, true}]}]}]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.

{relx, [{release, {ts, "1.0.0"},
    [ldclient, ts_app]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]}.

{dialyzer, [
    {plt_apps, top_level_deps},
    %% The dialyzer is not accounting for checkouts.
    %% So for now we need to disable this.
    {warnings, [no_unknown]}
]}.

