{erl_opts, [debug_info]}.
{deps, [
	{shotgun, {git, "git://github.com/inaka/shotgun.git", {branch, "master"}}},
	{jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
	{semver, {git, "git://github.com/nebularis/semver.git", {branch, "master"}}},
	{lru, {git, "git://github.com/barrel-db/erlang-lru.git", {tag, "1.3.1"}}},
	{backoff, {git, "git://github.com/ferd/backoff.git", {tag, "1.1.6"}}}
]}.

{shell, [
    {apps, [eld]}
]}.
