{erl_opts, [debug_info]}.
{deps, [
	{shotgun, {git, "git://github.com/inaka/shotgun.git", {branch, "master"}}},
	{jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
	{semver, {git, "git://github.com/nebularis/semver.git", {branch, "master"}}}
]}.

{shell, [
    {apps, [eld]}
]}.
