version: 2

workflows:
  version: 2
  test:
    jobs:
      - test-elixir-otp22
      - test-21
      - test-22
      - test-23

erlang-docker-template: &erlang-docker-template
  steps:
    - checkout:
        path: ~/ldclient
    - run:
        name: install dependencies and compile
        command: make compile
        working_directory: ~/ldclient
    - run:
        name: run tests
        command: make tests
        working_directory: ~/ldclient
    - run:
        name: run dialyzer
        command: make dialyze
        working_directory: ~/ldclient
    - run:
        name: create test-results directory
        command: mkdir test-results
        working_directory: ~/ldclient
    - run:
        name: copy test results
        command: cp logs/ct/ct_run.*/junit_report.xml test-results/
        working_directory: ~/ldclient
    - store_test_results:
        path: ~/ldclient/test-results

jobs:
  test-elixir-otp22:
    <<: *erlang-docker-template
    docker:
      - image: circleci/elixir:otp-22
  test-21:
    <<: *erlang-docker-template
    docker:
      - image: circleci/erlang:21.3.8
  test-22:
    <<: *erlang-docker-template
    docker:
      - image: circleci/erlang:22.3.4
  test-23:
    <<: *erlang-docker-template
    docker:
      - image: circleci/erlang:23.0
