on:
  workflow_dispatch:

name: Publish Documentation
jobs:
  build-publish:
    runs-on: ubuntu-22.04
    # Needed to get tokens during publishing.
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: erlef/setup-beam@v1
        with:
          version-type: loose
          otp-version: 25.x
          rebar3-version: 3.18.0
      - uses: actions/checkout@v3
      - id: build
        name: Build Documentation
        uses: ./.github/actions/build-docs

      - uses: ./.github/actions/configure-rebar
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}

      - id: publish
        name: Publish Documentation
        uses: ./.github/actions/publish-docs
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
